#Store location of profiles directory to profilesDir
profilesDir=/srv/www/profiles

cd /srv/www/profiles
#Store a list of profiles to profileNames array
profileNames=$(ls)

#Loop through profileNames array
for profile in ${profileNames}
do
	#Check to see if there's an existing profile in our drupal profiles directory,
	#if there is then skip the rsync
	if [[ -d /srv/www/drupal-stable/profiles/$profile ]]; then
		echo "${profile} already exists..."
	else
		#rsync the entire profile to our drupal profiles driectory
		echo "Copying profile ${profile} and building new site ${profile}.local.drupal.dev"
		rsync -ar $profilesDir/$profile /srv/www/drupal-stable/profiles
		
		echo "Begin drush make..."
		#Begin the drush make process of our profile. We set the --no-gitinfofile flag 
		#to ommit git time and version stamping at the bottom of our install profile documents.
		cd /srv/www/drupal-stable/profiles/$profile/
		drush make --no-core --contrib-destination=. $profile.make --no-gitinfofile --y

		#Begin our site install base on the name of the item in our array.
		#We create a new site subdirectory named $profile.local.drupal.dev and we establish
		#some initial login credentials, which are username = admin and password = password 
		cd /srv/www/drupal-stable/sites/
		drush si $profile --sites-subdir=$profile.local.drupal.dev --db-url=mysql://root:root@localhost/$profile --account-name=admin --account-pass=password --db-su=root --db-su-pw=root --site-name=$profile --y
		echo "Login credentials are username: admin, password: password"
	fi
done